In [10]:
from bs4 import BeautifulSoup
import requests
import time
import datetime

import smtplib

In [13]:
URL = "https://www.amazon.in/Jordan-Nike-Men-Sneaker-Green/dp/B0DJ9TZBTZ/ref=sr_1_5?crid=14UJM17MV81YY&dib=eyJ2IjoiMSJ9.u1BymMLCHc2PaSK7ErBQd8wIlQMIqY4PEDp8ymFwzgLtvKwoMp2VL-ZxniUJjo9qk0fb3Q9D6j7ZAYLXKjmHhul7XAZvJgJrFcuA9yYF6Le4BC10EsRELYo7kEpHqf3pV8IVc6ecdjWrrOpTYQEFkQ4ynAQYtQEgU-0eODZ7f_3irqnp-U3TmxACB_pvHkm6hpZAKLfBKvUARlqVgd0AGa_3coi87EePoq6C2ghM2dEiS238M-QDmau_P5lNy0mlsZsyyPT02LxTo0bHmhj53pTilCauS9reCAXRQVPBOv4.gr0DbnDLfuFAQJg-vMIVT-YjqvGfrYLbZstXRJO_J2U&dib_tag=se&keywords=nike+shoes+jordan&nsdOptOutParam=true&qid=1751290393&sprefix=nike+shoes+jordan%2Caps%2C260&sr=8-5"

headers = { "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0", 
    "X-Amzn-Trace-Id": "Root=1-68629361-68dea812158f85e8145c5192"}

In [14]:
page = requests.get(URL, headers=headers)
soup = BeautifulSoup(page.content, "html.parser")

title_tag = soup.find(id="productTitle")
title = title_tag.get_text().strip() if title_tag else "Title not found"

price_tag = (
    soup.find(id="priceblock_ourprice")
    or soup.find(id="priceblock_dealprice")
    or soup.find("span", class_="a-price-whole")  # fallback option
)
price = price_tag.get_text().strip() if price_tag else "Price not found"

print(title)
print(price)

Jordan Nike Men AIR Sneaker 1 Low, Green, 8 UK
8,995

In [15]:
price = price.strip()[1:]
title = title.strip()

print(title)
print(price)

Jordan Nike Men AIR Sneaker 1 Low, Green, 8 UK
,995

In [26]:
import csv
import datetime

title = "Nike Jordan Men's Sneaker"
price = "₹6,499"

today = datetime.date.today()

header = ['Title', 'Price', 'Date']
data = [title, price, today]

with open('amazon_product.csv', 'w', newline='', encoding='utf-8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

print("Data written successfully!")

Data written successfully!

In [29]:
import pandas as pd 
df = pd.read_csv(r"C:\Users\DELL\amazon_product.csv")
print (df)

                       Title   Price        Date
0  Nike Jordan Men's Sneaker  ₹6,499  2025-06-30

In [31]:
with open('amazon_product.csv', 'a+', newline='', encoding='utf-8') as f:
    writer = csv.writer (f)
    writer.writerow(data)

In [42]:
def check_price():
    url = 'https://www.amazon.in/Jordan-Nike-Men-Sneaker-Green/dp/B0DJ9TZBTZ/'

    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0",
        "X-Amzn-Trace-Id": "Root=1-68629361-68dea812158f85e8145c5192"
    }

    page = requests.get(url, headers=headers)
    soup = BeautifulSoup(page.content, "html.parser")

    title_tag = soup.find(id="productTitle")
    price_tag = (
        soup.find(id="priceblock_ourprice") or
        soup.find(id="priceblock_dealprice") or
        soup.find("span", class_="a-price-whole")
    )

    title = title_tag.get_text().strip() if title_tag else "Title not found"
    price = price_tag.get_text().strip() if price_tag else "Price not found"

    today = datetime.date.today()

    with open('amazon_product.csv', 'a', newline='', encoding='utf-8') as f:
        writer = csv.writer(f)
        writer.writerow([title, price, today])

    print(title)
    print(price)
    print("Data saved to CSV.")

check_price()

Jordan Nike Men AIR Sneaker 1 Low, Green, 8 UK
8,995
Data saved to CSV.

In [44]:
import datetime
today = datetime.date.today()

In [48]:
import csv
header = ['Title', 'Price', 'Date']
data = [title, price, today]

In [49]:
with open('amazon_product.csv', 'a+', newline='', encoding='utf-8') as f:
    writer = csv.writer (f)
    writer.writerow(data)

In [ ]:
while(True):
    check_price()
    time.sleep(86400)

In [ ]:
import pandas as pd
df = pd.read_csv(r"C:\Users\DELL\amazon_product.csv")
print(df)

In [ ]:
def send_email(subject, body):
    sender = "sachinkrishna446@gmail.com"
    receiver = "sachinkrishnaku8@gmail.com"
    app_password = "your_16_digit_app_password"

    message = f"""Subject: {subject}\n\n{body}"""

    try:
        server = smtplib.SMTP("smtp.gmail.com", 587)
        server.starttls()
        server.login(sender, app_password)
        server.sendmail(sender, receiver, message)
        server.quit()
        print("Email sent successfully.")
    except Exception as e:
        print(" Failed to send email:", e)


send_email(
    subject="Amazon Price Drop Alert!",
    body="Hey, the price dropped! Check the link: https://www.amazon.in/dp/B0DJ9TZBTZ/"
)